.room-desc {
    padding: 20px;
    background-color: white;
}

.room-rent > h5{
    text-align: left;
}

.room-desc .room-name h3 {
    margin-top: 0px;
    text-align: left;
}


.brand_style {
    padding-top: 80px;
}

@media (max-width: 767px){
    .custom_container{
        width: 100%;
    }
    .custom_appart_block{
        margin-bottom: 20px;
    }
    .brand_style {
        padding-top: 40px;
    }
    .our-gallery .single-gallery {
        width: 50%;
        height: 100%;
    }
    .our-gallery .single-gallery::before {
        background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    }
}